<div class="col xl-max md-max container__courses-user">
    <div class="row container__courses-user-caption">Courses of me</div>
    <div class="row container__courses-user-heading">
        <span class="col xl-0_5 md-0_5 text-center container__courses-user-heading-item">#</span>
        <span class="col xl-3 md-2 container__courses-user-heading-item">Name</span>
        <span class="col xl-4 md-2 container__courses-user-heading-item">Description</span>
        <span class="col xl md text-center container__courses-user-heading-item">Level</span>
        <span class="col xl md text-center container__courses-user-heading-item">Created At</span>
        <span class="col xl md text-center container__courses-user-heading-item">Controls</span>
    </div>
    {{#each courses}}
    <div class="row text-link container__courses-user-table{{#if (isEven @index)}}-light{{/if}}">
        <div class="col xl-0_5 md-0_5 text-center container__courses-user-table-item">{{sum @index 1}}</div>
        <a href="/user/{{../idUser}}/courses/page/detail/{{this._id}}"
            class="col xl-3 md-2 text-link container__courses-user-table-item text-short">{{this.name}}</a>
        <div class="col xl-4 md-2 container__courses-user-table-item text-short">{{this.description}}</div>
        <div class="col xl md text-center container__courses-user-table-item">{{this.level.name}}</div>
        <div class="col xl md text-center container__courses-user-table-item">{{formatDate this.createdAt}}</div>
        <div class="col xl md text-center container__courses-user-table-item--controls">
            <a class="container__courses-user-table-item-child btn text-link"
                href="/user/{{../idUser}}/courses/page/edit/{{this._id}}">Edit</a>
            <a class="container__courses-user-table-item-child btn text-link" onclick="formDialogDeleteCourse.showDialog({
                    yes: {
                        tag: 'a',
                        attr: ['href'],
                        value: ['/user/{{../idUser}}/courses/api/{{this._id}}'],
                        content: 'Có',
                    },
                    no: {
                        tag: 'div',
                        attr: ['onclick'],
                        value: ['formDialogDeleteCourse.closeDialog()'],
                        content: 'Không',
                    }})">Remove
            </a>
        </div>
    </div>
    {{/each}}
    <div id="{{opsFormDialogDelete.style}}"></div>
    <div id="{{opsFormDialogDelete.selector}}" class="row hide"></div>
    <script>
        const cssRender = `{{cssRender}}`;
        const opsDelete = {
            selector: '{{opsFormDialogDelete.selector}}',
            class: '{{opsFormDialogDelete.class}}',
            type: '{{opsFormDialogDelete.type}}',
            style: '{{opsFormDialogDelete.style}}',
            title: 'Xóa khóa học',
            message: 'Bạn thực sự muốn xóa khóa học này?',
            button: {
                close: {
                    tag: 'div',
                    attr: ['onclick'],
                    value: ['formDialogDeleteCourse.closeDialog()'],
                    content: 'X',
                },
            }
        }
        const formDialogDeleteCourse = FormDialog();
        formDialogDeleteCourse.init(opsDelete, cssRender);
        formDialogDeleteCourse.createDialog();
    </script>
</div>