<ul class="row xl-wrap md-wrap container__courses">
  {{#each courses}}
  <li class="col xl-2_5 md-3_5 container__courses-item">
    <a href="/user/{{this.author.code}}/courses/page/detail/{{this.slug}}">
      <div class="container__courses-item-image" style="background-image: url('https://img.youtube.com/vi/{{this.mediaId}}/sddefault.jpg')" alt="{{this.name}}"></div>
    </a>
    <a href="/user/{{this.author.code}}/courses/page/detail/{{this.slug}}" class="text-link">
      <div class="container__courses-item-name">{{this.name}}</div>
    </a>
    <div class="container__courses-item-description">{{this.description}}</div>
    <div class="container__courses-item-detail">
      <a 
        class="container__courses-detail-edit btn text-link"
        href="/user/{{this.author.code}}/courses/page/edit/{{this.slug}}"
      >Edit</a>
      <a 
        class="container__courses-detail-delete btn text-link"
        href="/user/{{this.author.code}}/courses/api/delete/{{this.slug}}"
      >Delete</a>
    </div>
  </li>
  {{/each}}
</ul>