<div class="col xl-max md-max container__courses-user">
    <div class="row container__courses-user-caption">Courses of me</div>
    <div class="row xl-o-left md-o-left container__courses-user-controls">
        <div class="col xl md-0_5"></div>
        <a href="/user/{{idUser}}/courses/page/create"
            class="col xl md-1_5 btn text-link container__courses-user-controls-create">Create New</a>
        <a href="/user/{{idUser}}/courses/page/deleted"
            class="col xl md-1_5 btn text-link container__courses-user-controls-trash">View Trash</a>
    </div>
    <div class="row container__courses-user-heading">
        <span class="col xl-0_5 md-0_5 text-center container__courses-user-heading-item">#</span>
        <span class="col xl-3 md-2 container__courses-user-heading-item">Name</span>
        <span class="col xl-4 md-2 container__courses-user-heading-item">Description</span>
        <span class="col xl md text-center container__courses-user-heading-item">Level</span>
        <span class="col xl md text-center container__courses-user-heading-item">Created At</span>
        <span class="col xl md text-center container__courses-user-heading-item">Controls</span>
    </div>
    {{#each courses}}
    <div class="row text-link container__courses-user-table{{#if (isEven @index)}}-light{{/if}}">
        <div class="col xl-0_5 md-0_5 text-center container__courses-user-table-item">{{sum @index 1}}</div>
        <a href="/user/{{../idUser}}/courses/page/detail/{{this._id}}"
            class="col xl-3 md-2 text-link container__courses-user-table-item text-short">{{this.name}}</a>
        <div class="col xl-4 md-2 container__courses-user-table-item text-short">{{this.description}}</div>
        <div class="col xl md text-center container__courses-user-table-item">{{this.level.name}}</div>
        <div class="col xl md text-center container__courses-user-table-item">{{formatDate this.createdAt}}</div>
        <div class="col xl md text-center container__courses-user-table-item--controls">
            <a class="container__courses-user-table-item-child btn text-link"
                href="/user/{{../idUser}}/courses/page/edit/{{this._id}}">Edit</a>
            <a class="container__courses-user-table-item-child btn text-link" onclick="frmDialogCourseRemove.showDialog(
                        {
                            value: '/user/{{../idUser}}/courses/api/remove/{{this._id}}?_method=PUT',
                            button: [
                                {
                                    tag: 'input',
                                    attrs: ['type', 'value'],
                                    values: ['submit', 'Có'],
                                },
                                {          
                                    tag: 'input',
                                    attrs: ['type', 'value'],
                                    values: ['button', 'Không'],
                                    isExit: true,
                                },
                            ]
                        })">Remove
            </a>
        </div>
    </div>
    {{else}}
    <div class="row container__courses-user-table-empty">
        <div class="col xl-max md-max container__courses-user-table-empty-show-text">
            Bạn chưa đăng khóa học nào.
            <a class="btn text-link container__courses-user-table-empty-show-link"
                href="/user/{{idUser}}/courses/page/create">
                Create New
            </a>
        </div>
    </div>
    {{/each}}
    <div id="{{optionsDialog.style}}"></div>
    <form id="{{optionsDialog.selector}}" class="row hide" method="POST" action="/">
    </form>
    <script>
        const cssRender = `{{{ cssRender }}}`;
        const optionsDialog = {{{ json optionsDialog }}};

        const frmDialogCourseRemove = FormDialog();
        frmDialogCourseRemove.init(optionsDialog, cssRender);
        frmDialogCourseRemove.createDialog({
            type: 'warn',
            title: 'Loại bỏ khóa học',
            message: 'Bạn thực sự muốn loại bỏ khóa học này?',
        });
    </script>
</div>