<ul class="row xl-wrap md-wrap container__courses">
  {{#each courses}}
  <li class="col xl-2_5 md-3_5 container__courses-item">
    <a href="/courses/{{this._id}}">
      <div class="container__courses-item-image"
        style="background-image: url('https://img.youtube.com/vi/{{this.mediaId}}/sddefault.jpg')" alt="{{this.name}}">
      </div>
    </a>
    <a href="/courses/{{this._id}}" class="text-link">
      <div class="container__courses-item-name">{{this.name}}</div>
    </a>
    <div class="container__courses-item-description">{{this.description}}</div>
    <div class="container__courses-item-detail">
      <div class="container__courses-detail-author">
        <div class="container__courses-detail-author-avatar"></div>
        <div class="container__courses-detail-author-name"></div>
      </div>
      <div class="container__courses-detail-views">
        <div class="container__courses-detail-views-icon"></div>
        <div class="container__courses-detail-views-count"></div>
      </div>
      <a class="container__courses-detail-learn btn text-link">Mua</a>
    </div>
  </li>
  {{/each}}
</ul>